{
  "presets": ["next/babel"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.{js,jsx,ts,tsx}",
            "**/*.spec.{js,jsx,ts,tsx}",
            "**/e2e/**",
            "**/__tests__/**",
            "**/node_modules/**"
          ]
        }]
      ]
    }
  }
} 