@import 'react-day-picker/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities; 

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #0ea5e9;
  --rdp-background-color: #e0f2fe;
  margin: 0;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-day_today {
  font-weight: bold;
  color: var(--rdp-accent-color);
} 